
run = "poetry run python main.py"
hidden = ["venv", ".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[tool]
language = "python"

[packager]
language = "python"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[env]
POETRY_CACHE_DIR = "${HOME}/${REPL_SLUG}/.cache/pypoetry"

[languages]

[languages.python]
pattern = "**/*.py"

[languages.python.languageServer]
start = "pylsp"

[deployment]
run = ["poetry", "run", "python", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42343368
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "poetry run python main.py"
